<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://w0.peakpx.com/wallpaper/446/435/HD-wallpaper-captain-america-2020-captain-america-superheroes-artwork-artist.jpg"   alt="" srcset="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Etiam ac suscipit nisi. Suspendisse potenti. Integer nisi
            ipsum, posuere quis ante sodales, feugiat ultrices velit.
            Quisquetellus tortorr
        </a>
        </p>
    </div>
</div>