<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img 
            src="https://sm.ign.com/ign_br/news/m/marvel-cin/marvel-cinematic-universe-assembles-in-epic-10-year-class-ph_fgk1.jpg" 
            alt="" 
            srcset="">
        </div>
        <div class="small-card__title">
            <h1><a href="#">a nova versão do Angular</a></h1>
        </div>
       
    </div>
    <div class="container__small-catd__separator">
        <hr/>
    </div>
   </div>
  
   
